Options +FollowSymLinks +SymLinksIfOwnerMatch
AddDefaultCharset utf-8

AddType image/svg+xml svg
AddType image/svg+xml svgz

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
