body {
    margin: 0px;
}

h4 {
    margin-top: 0px;
}

.page {
    width: 210mm;
    height: 297mm;
    border: 1px dashed black;
    margin: 0 auto; /* Centres */
}

.content {
    margin: 6mm 16mm;
    height: 285mm;
    position: relative;
}

.topLogoWide {
    width: 178mm;
}

.kitemark {
    font-weight: bold;
    margin-left: 7mm;
}

.line {
    background: url(/img/report/line.png);
    height: 1mm;
    margin: 2mm 0;
}

.bodywork {
    min-height: 75mm;
    position: relative;
}

.specialist {
    position: absolute;
    bottom: 0px;
}

.parts {
    min-height: 22mm;
}

.footer {
    text-align: center;
    font-size: small;
    position: absolute;
    bottom: 0px;
}

.totals {
    margin: 0 8mm;
}

.totals .row-fluid [class*="span"] {
    min-height: 1em;
}

.subtotals {
    margin: 3mm 0;
    font-weight: bold;
    text-transform: capitalize;
}